<div class="small-space"></div>
<div class="row">
<<<<<<< HEAD

  <%= form_tag 'completechore', method: 'post', class: "complete-form" do %>
=======
  <%= form_tag 'completechore', method: 'post', :multipart => true, class: "complete-form" do %>

>>>>>>> 6603d9767d3577c06d2dbb676e3e84e22b9d01f6

    <div class="small-6 small-centered columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= label_tag 'Before Picture' %>
          <%= file_field_tag :avatar %>
      </div>
      </div>
    </div>

      <div class="small-6 small-centered columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= label_tag 'After Picture' %>
          <%= file_field_tag :after_picture %>
      </div>
      </div>
    </div>

    <div class="small-6 small-centered columns">
      <%= label_tag 'comments' %>
      <%= text_area_tag 'comments' %>
    </div>

    <%= hidden_field_tag 'chore_id', params[:id] %>

    <div class="small-6 small-centered columns">
      <%= submit_tag :submit %>
    </div>

  <% end %>
</div>
