<%= form_for(@user) do |f| %>
<div class="row">
  <div class="small-6 columns">
    <% if @user.errors.any? %>
      <p>Please correct the following errors:</p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  <%= f.label :email %>
  <%= f.text_field :email %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  <%= f.label 'Profile Pic' %>
  <%= f.file_field :avatar %>
  </div>
</div>

<% unless @user.apartment == nil %>
  <div class="row">
    <div class="large-6 columns">
      <label>Vacation Mode:</label>
      <input type="radio" name="vacation" value="on" id="vacation-on"><label for="vacation-on">On</label>
      <input type="radio" name="vacation" value="off" id="vacation-off"><label for="vacation-off">Off</label>
    </div>
  </div>
<% end %>



<div class="row">
  <div class="small-6 columns">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
  <%= f.submit :submit %>
  </div>
</div>
<% end %>
