<p> <%= user.first_name %></p>
<p> <%= user.last_name %></p>
<p> <%= user.email %></p>
<% if user.apartment != nil %>
  <p><%= link_to user.apartment.name, apartment_path(@user.apartment) %></p>
  <p><%= user.apartment.zipcode %></p>
<% end %>

<% if user.apartment == nil %>
  <%= link_to 'Add an Apartment', new_apartment_path %>
<% end %>

<%= link_to 'edit profile', edit_user_path %>
