<%= image_tag user.avatar.url(:medium) %>
<p><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></p>
<p> <%= user.email %></p>
<% if user.apartment != nil %>
  <p><%= link_to user.apartment.name, apartment_path(user.apartment) %></p>
  <p><%= user.apartment.zipcode %></p>
<% end %>

<% if user.apartment == nil %>
  <%= link_to 'Add an Apartment', new_apartment_path %>
<% end %>

<%= link_to 'edit profile', edit_user_path(user) %>
<hr>
