<%= render @user %>

<h2>My Chores</h2>

<% @chores.each do |chore| %>
  <%= chore.name %>
  <%= chore.due_date %>
  <%= chore.points_value %>
  <%= link_to 'chore completed', "/completechore/#{chore.id}" %>
<% end %>
