<% if @user.apartment != nil %>
  <div class="row">
    <div class="small-7 small-centered columns end">
      <div class="avatar-wrap">
        <% if @user.avatar_file_name == nil %>
          <%= image_tag "default_images/J.png", class: 'avatar' %>
        <% else %>
          <%= image_tag @user.avatar.url(:medium), class: 'avatar' %>
        <% end %>
      </div>
      <div class="apt-header">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
        <h3><%= link_to @user.apartment.name, apartment_path(@user.apartment) %></h3>
        <h6>Points Balance: <%= @user.points_balance %> | Dollar Balance: $<%= @user.dollar_balance %></h6>
        <div class="small-space"></div>
        <%= link_to 'edit profile', edit_user_path(@user), class: 'button tiny edit-user' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered columns table">
      <h3>Current Chores</h3>
      <table>
        <thead>
          <tr>
            <th width="250">Chore</th>
            <th width="100">Points</th>
            <th width="200">Due</th>
            <th width="200">Complete</th>
          </tr>
        </thead>
        <tbody>
          <% @user.chores.each do |chore| %>
          <tr>
            <td><%= chore.name %></td>
            <td><%= chore.points_value %></td>
            <td><%= chore.current_due_date.strftime "%b %e" %> (<%= (chore.current_due_date - Date.today).to_i < 1 ? "#{(chore.current_due_date - Date.today).to_i} Day" : "#{(chore.current_due_date - Date.today).to_i} Days" %>)</td>
            <td> <%= link_to 'Mark Completed', chore %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered columns table">
      <h3>Chore History</h3>
      <table>
        <thead>
          <tr>
            <th width="250">Chore</th>
            <th width="100">Points</th>
            <th width="150">Date Completed</th>
            <th width="300">Comments</th>
          </tr>
        </thead>
        <tbody>
          <% @sorted_chore_histories.each do |chore_history| %>
          <tr>
            <td><%= link_to chore_history.name, chore_history  %></td>
            <td><%= chore_history.points_value %></td>
            <td><%= chore_history.created_at.strftime "%b %e, %Y" %>
            </td>
            <td><%= chore_history.comments %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-10 small columns small-space">

    </div>
  </div>
  <div class="row">
    <div class="small-10 small-centered columns">
        <%= link_to 'Add an Apartment', new_apartment_path, class: 'button expand' %>
    </div>
  </div>
<% end %>
