<%= render @user %>

<h2 id="chore-header">My Chores</h2>

<% @chores.each do |chore| %>
  <div id=<%= dom_id(chore) %>>
    <%= chore.name %>
    <%= chore.current_due_date %>
    <%= chore.points_value %>
    <%= link_to 'chore completed', "/chores/#{chore.id}"%>
  </div>

<% end %>

<h2 id="completed-chores">My Completed Chores</h2>
  <% @completed_chores.each do |completed_chore| %>
    <div id=<%= dom_id(completed_chore) %>>
      <%= completed_chore.name %> <br>
      Points: <%= completed_chore.points_value %> <br>
      Comments: <%= completed_chore.comments %> <br>
      Completed: <%= completed_chore.created_at.to_time.strftime "%b %e, %Y" %><br>
    </div> <br>
  <% end %>
