<% @chores.each do |chore| %>
  <% if chore.user == nil %>
    <%= content_tag_for(:div, chore) %>
      <dl class="accordion draggable" id="<%= chore.id %>" data-accordion>
        <dd>
          <% if chore.dollar_value > 0 %>
            <a href="#chore<%= chore.id %>"><%= chore.name %> (<%= chore.points_value %>) | <span class="alert round label">$<%= chore.dollar_value %></span></a>
          <% else %>
            <a href="#chore<%= chore.id %>"><%= chore.name %> (<%= chore.points_value %>)</a>
          <% end %>
          <div id="chore<%= chore.id %>" class="content">
            <p>Points: <%= chore.points_value %></p>
            <p>Due: <%= chore.due_date %></p>
            <% if chore.dollar_value > 0 %>
              <p>Dollar Value: $<%= chore.dollar_value %></p>
            <% end %>
            <p><%= link_to 'accept challenge', "/assignchore/#{chore.id}"  %></p>
            <p><%= link_to 'edit chore', edit_chore_path(chore) %></p>
          </div>
        </dd>
      </dl>
  <% end %>
<% end %>
