<p> <%= flash[:error] %> </p>

<%= form_for([@apartment, @chore]) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :points_value %>
  <%= f.number_field :points_value %>

  <%= f.label :due_date %>
  <%= f.select :due_date, Date::DAYNAMES %>

  <%= f.submit :submit %>

<% end %>
