<div class="chore_show_header">
  <%= image_tag @chore.user.avatar.url(:medium), class: 'avatar' %>

   <% if @chore.apartment.avatar_file_name == nil %>
      <%= image_tag @chore.apartment.default_avatar, class: 'avatar' %>
    <% else %>
      <%= image_tag @chore.apartment.avatar.url(:medium), class: 'avatar' %>
    <% end %>
</div>

<p>
  Chore: <%= @chore.name %> Points: <%= @chore.points_value %> Due Date: <%= @chore.due_date %>

</p>


<%= render :partial => '/chore_histories/form', :locals => { :chore_id => params[:id] } %>

