<div class="row">
  <div class="small-6 columns">
		<h1>Roommate <%= @num %>:</h1>
	</div>
</div>

	<%= form_for @user, url: { action: "save_roommate", controller: "users" } do |f| %>

<div class="row">
  <div class="small-6 columns">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
</div>

<div class="row">
  <div class="small-6 columns">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
</div>

<div class="row">
  <div class="small-6 columns">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
</div>

<div class="row">
  <div class="small-6 columns">
		<%= f.submit :submit %>
	</div>
</div>

	<% end %>

