<div class="row">
  <div class="small-8 small-centered columns end">

    <!-- Apartment Header -->
    <div class="avatar-wrap">
      <% if @apartment.avatar_file_name == nil %>
          <%= image_tag @apartment.default_avatar, class: 'avatar' %>
        <% else %>
          <%= image_tag @apartment.avatar.url(:medium), class: 'avatar' %>
        <% end %>
      </div>

      <div class="apt-header">
        <h1><%= @apartment.name %></h1>
        <h5><%= @apartment.street %></h5>
      </div>
  </div>
</div>

<div class="row">
  <div class="small-4 small columns">
    <h3 class="apt-header">Chore Marketplace</h3>
    <hr>
    <%= render :partial => '/chores/chores_index' %>
    <%= link_to 'Create a Chore', new_apartment_chore_path(@apartment), class: 'button tiny' %>
  </div>
  <div class="small-4 columns">
    <h3 class="apt-header">Leaderboard</h3>
    <hr>
    <%= render 'leaderboard' %>
    <%= link_to 'Add a Roommate', new_apartment_chore_path(@apartment), class: 'button tiny' %>
  </div>
  <div class="small-4 columns">
    <h3 class="apt-header">Voting</h3>
    <hr>
    <%= render 'voting' %>
  </div>
</div>
<div class="row">
  <div class="small-12">
    <div class="small-space"></div>
  </div>
</div>
