<!DOCTYPE html>
<html>
<head>
  <title>SplitmateApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<% if current_user %>
		Hello, <%= current_user.first_name %> | <%= link_to "Logout", logout_path %>
	<% else %>
		<%= link_to "Login", login_path %> or <%= link_to "Create Account", new_user_path %>
	<% end %>
</div>


<%= yield %>

</body>
</html>
